DISCORD_TOKEN=your_bot_token_here
DISCORD_CLIENT_ID=your_application_id_here
GUILD_ID=your_server_id_here
LIBRESPOT_PATH=./go-librespot
LIBRESPOT_CONFIG_DIR=.
LIBRESPOT_API=http://localhost:3678
ALEXA_WEBHOOK_PORT=3679
ALEXA_SECRET=change_this_to_a_random_secret
